<h1>収支</h1>
<%= link_to '収支追加', new_expense_path, class: 'btn btn-primary' %>

<ul>
  <% if @expenses.present? %>
    <% @expenses.each do |expense| %>
      <li>
        <%= expense.name %>: <%= number_to_currency(expense.amount) %> - <%= expense.date %>
        <!-- 削除リンク -->
        <%= link_to '削除', expense_path(expense), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      </li>
    <% end %>
  <% else %>
    <li>No expenses found.</li>
  <% end %>
</ul>
