<h1>収支</h1>

<p><strong>Date:</strong> <%= @expense.date %></p>
<p><strong>Description:</strong> <%= @expense.description %></p>
<p><strong>Amount:</strong> <%= number_to_currency(@expense.amount, unit: '¥', precision: 0) %></p>
<p><strong>Transaction Type:</strong> <%= @expense.transaction_type || "Not Specified" %></p>

<%= link_to '編集', edit_expense_path(@expense), class: "btn btn-primary" %>
<%= link_to 'キャンセル', transactions_path, class: 'btn btn-secondary' %>
<%= link_to '削除', expense_path, method: :delete, class: "btn btn-danger" %>
